.email-template-container-tools{
	float: right;
	display: block;
	span{
		width: 20px;
		height: 20px;
		display: inline-block;
		border: 2px solid #ccc;
		text-align: center;
	}
	i{
		color: #ccc;
		font-weight:normal !important;
		font-style: normal !important;
		font-size:24px;
		font-family: "zurmo_gamification_symbly_rRg";
		vertical-align:middle;
		padding:0 0 0 0;//3px;
		margin:0 0 0 0;
		text-shadow: none !important;
	}
}

.sortable-elements{
	border: 1px dotted #ccc;
}

.icon-move:before  { content: ")"; }
.icon-gear:before  { content: "n"; }
.icon-trash:before { content: "_"; }


.ui-sortable-placeholder{
	visibility: visible !important;
	background:azure;
}