body{
	//background: url("@{path}psd-light.png") left top repeat;
}

table.body{
}

.element-wrapper{
	position: relative;
	display:block;
	width: 100%;
	height: 100%;
	//box-shadow: inset 0 0 0 2px #545454;
	&:hover{
		//box-shadow: inset 0 0 0 2px #545454;
		box-shadow: inset 0 0 0 2px #ccc;
		> .builder-element-toolbar{
			visibility: visible;
		}
	}
}

.hoverz{
	font-weight: bold !important;
	font-style: italic !important;
	text-decoration: line-through !important;
}

.builder-element-toolbar{
	display: block;
	visibility: hidden;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1000;
	span{
		width: 20px;
		height: 20px;
		display: inline-block;
		border: 2px solid #ccc;
		text-align: center;
		background:#fff;
	}
	i{
		color: #545454;
		font-weight:normal !important;
		font-style: normal !important;
		font-size:24px;
		font-family: "zurmo_gamification_symbly_rRg";
		vertical-align:middle;
		padding:0 0 0 0;//3px;
		margin:0 0 0 0;
		text-shadow: none !important;
	}
}

.builder-element-non-editable{
	position: relative;
	z-index: 1;
	padding: 10px;
	display: block;
	//box-shadow: inset 0 0 0 2px #545454;
}

table.builder-element-non-editable{
	display: table;
}

.row,
.sortable-elements{
	&:hover{
		//box-shadow: inset 0 0 0 2px #545454;
		.builder-element-toolbar{
		//	visibility: visible;
		}
	}
}

.icon-action-move:before  { content: ")"; }
.icon-action-edit:before  { content: "n"; }
.icon-action-delete:before { content: "_"; }


.ui-sortable-placeholder{
	visibility: visible !important;
	box-shadow: 0 0 5px 0 dodgerblue !important;
	min-height: 60px;
}

.blox{
	width: 105px !important;
	height: 105px !important;
	border: 3px solid green;
	float: none;
	margin: 0;
	z-index: 99999;
}

.hover{
	box-shadow: inset 0 0 0 2px deeppink;
}

.ghost{
	display: block;
	background:rgba(0, 0, 255, 0.3) !important;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	box-shadow: inset 0 0 0 2px #545454;
	//padding: 5px !important;
	//position: absolute;
	//left: 0;
	//right: 0;
	width: 100%;
	&.before{
		top:0;
		background: deeppink;
	}
	&.after{
		top:auto;
		bottom: 0;
		background: lightpink;
	}
}



.element-wrapper{
	&:before,
	&:after{
		content:" ";
		display:table;
	}
	&:after{
		clear:both;
	}
	*zoom:1;
}