/*Blue Theme*/
@themeColor : #262877;
@themeColor2 : #7BB730;

.themeColor{ color: @themeColor; }
.themeColor2{ color: @themeColor2; }

.themeBackgroundColor{ background-color: @themeColor; }
.themeBackgroundColor2{ background-color: @themeColor2; }


.themeColor-important{ color: @themeColor !important; }
.themeColor2-important{ color: @themeColor2 !important; }

.themeBackgroundColor-important{ background-color: @themeColor !important; }
.themeBackgroundColor2-important{ background-color: @themeColor2 !important; }