#game-overlay{
	width: 100%;
	height: 100%;
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	bottom:0;
	background: rgba(0, 0, 0, 0.65);
}

#game-dashboard-container{
	position: relative;
	z-index: 100;
	color:#f1f1f1;
	*{
		.border-box();
	}


	#game-dashboard{
		width: 1200px;
		height: 600px;
		position: absolute;
		left: 50%;
		.radius(5px);
		overflow:hidden;
		margin:100px auto auto -600px;
		background: url(../images/game-dashboard/blue-chalkboard-blurred.jpg) left top repeat;
		> div{
			padding:10px 15px 15px 15px;
			&:hover{
				.div-hover();
			}
		}
		h2, h3{
			.t-shadow(0 -1px 0 @black);
			color: #fff !important;
		}
		a{
			color: #fff;
		}
	}
	
	ul{
		list-style: none;
	}

	h2{
		margin-bottom: 10px;
	}
}
@black : #151f1f;
@ccc : rgba(32, 50, 52, 0.5);
@fff : rgba(83, 112, 115, 0.4);

.div-hover{
	.b-shadow(~"inset 0 5px 0 0 @{ccc}, inset 0 6px 0 0 @{fff}");
}

/*User Card*/
#gd-profile-card{
	padding: 0 !important;
	height: 84%;
	width: 20%;
	float: left;
	border-right:1px solid @ccc;
	border-bottom:1px solid @ccc;
	text-align:center;
	h3{
		margin:0 0 10px 0;
	}
	ul{
		font-weight: bold;
		li{
			line-height: 1.15;
		}
		i{
			font-style: normal;
			margin-right: 3px;
			color: #7cb830;
			font-size: 16px;
		}
	}
	.gravatar,
	img{
		max-width: 100%;
		height: auto;
		margin-bottom: 5px;
		padding: 0;
		border: none !important;
		background: none;
		max-width: 100%;
	}
}

#gd-mini-stats-card{
	margin-top: 0px;
	.clearfix();
	> div{

	}
	#chartdiv{
		svg g:last-child > g:first-child{
			display: none;
		}
	}
	.gd-level{
		margin-top: -113px;
		.radius(4px 4px 0 0);
		position: relative;
		z-index: 3;
		padding: 10px;
	}
	strong{
		font-size:36px;
		line-height: 1;
		display: block;
		color: #7cb830;
		font-weight: bold;
	}
	strong + span{
		display: block;
		font-size: 14px;
		font-weight: bold;
		margin:0 0 10px 0;
	}
	.percentHolder{
		display: none;
		text-align: left;
		margin-bottom: 5px;
		+ span{
			font-weight: bold;
			position: relative;
			top: 10px;
		}
	}
	.num-badges, .num-collections{
		position: relative;
		z-index: 1;
		text-align: center;
		padding: 5px;
		float: right;
		width: 45%;
		margin:0;
		font-weight: bold;
		strong{
			font-size: 24px;
			display: block;
			font-weight: bold;
		}
	}
	.num-badges{
		.radius(0 0 4px 0);
		float: right;
		margin-right: 5%;
	}
}


/*Badges*/
#gd-badges-list{
	overflow-y: scroll;
	height: 84%;
	width: 30%;
	float: left;
	border-left:1px solid @fff;
	border-right:1px solid @ccc;
	border-bottom:1px solid @ccc;
	li{
		.clearfix();
		+ li{
			padding-top: 20px;
		}
	}
	.badge{
		float: left;
		margin-right: 15px;
	}
	.badge-grade {
		right: auto;
		left: -8px;
	}
	h3, p{
		margin-bottom: 5px;
	}
	p{
		line-height: 1.4;
	}
	p + span{
		font-size: 11px;
		color: #aaa;
	}
}

/*Coins*/
#gd-z-coins{
	width: 15%;
	height: 25%;
	float: left;
	border-left:1px solid @fff;
	border-right:1px solid @ccc;
	border-bottom:1px solid @ccc;
	position: relative;
	text-align: center;
	a{
		position: absolute;
		right: 5px;
		bottom: 5px;
		.smaller();
		text-decoration: underline;
	}
}

#gd-z-coin{
	display: block;
	width: 85px;
	height: 85px;
	line-height: 85px;
	.t-shadow(~"0 -1px 0 rgba(0, 0, 0, 0.4)");
	.radius(50%);
	margin:0 auto 7px auto;
	.symbly(72px);
	cursor: default;
	color: #e2b321;
	background:url(../images/game-dashboard/coin.png) left top no-repeat;
	.animateAll(1s);
	-webkit-transform:rotateY(0deg);
	&:hover{
		-webkit-animation: spinCoin 1s linear infinite;
		//-webkit-transform:rotateY(360deg);
	}
}

/*Leaderboard*/
#gd-leaderboard{
	width: 35%;
	height: 25%;
	float: left;
	border-bottom:1px solid @ccc;
	border-left:1px solid @fff;
}

.leaderboard-rank{
	float: left;
	overflow: visible;
	width: 32%;
	margin-right: 2%;
	padding: 10px;
	text-align: center;
	.radius(4px);
	background: rgba(7, 53, 58, 0.3);
	.b-shadow(~"inset 0 0 1px rgba(0, 0, 0, 0.2), 0 -1px 0 0 rgba(0, 0, 0, 0.3)");
	&:last-child{
		margin-right: 0;
	}
	strong, span{
		display: block;
	}
	strong{
		.t-shadow(0 -1px 0 #1c5a4f);
		color: #fff;
		font-size:24px;
		line-height: 1.5;
	}
	span{
		font-size: 16px;
		font-weight: bold;
		color: #fff;
	}
}

/*Stats*/
#gd-statistics{
	width: 50%;
	height: 59%;
	float: left;
	border-top:1px solid @fff;
	border-bottom:1px solid @ccc;
	border-left:1px solid @fff;
	&:hover{
		//border-top:1px solid #7cb830;
	}
}

#gd-stats-wrapper{
	border: 1px solid #d7d7d7;
	border-bottom: none;
	overflow: scroll;
	max-height: 295px;
}

.stat-row{
	width: 100%;
	padding:10px 12px 10px 5px;
	white-space: nowrap;
	border-bottom: 1px solid #d7d7d7;
	&:nth-child(even){
		background: rgba(0, 0, 0, 0.05);
	}
	h3{
		width: 35%;
		text-align: right;
		display: inline-block;
	}
	.stat-level,
	.stat-points{
		float: none;
		display: inline-block;
		width: 5%;
		text-align: center;
	}
	.stat-level{
		font-weight: bold;
	}
	.stat-points{
		width: 10%;
		position: relative;
		top: -8px;
		font-weight: 800;
		em{
			position: absolute;
			top: 14px;
			left: 0;
			text-align: center;
			.smaller();
			width: 100%;
			font-style: normal;
			font-weight: 100;
			color: #fff;
		}
	}
	.percentHolder{
		width: 45%;
		float: right;
	}
}

/*Collections*/
#gd-collections{
	width: 100%;
	height: 16%;
	float: left;
	border-top:1px solid @fff;
	padding:0 !important;
	position: relative;
	z-index: 100;
	//background:url(../images/game-dashboard/blue-chalkboard-blurred.jpg) left top repeat;
}

#gd-carousel-wrapper{
	width: 1140px;
	height: 100%;
	float: left;
	border-left:1px solid @fff;
	border-right:1px solid @ccc;
	position: relative;
	z-index: 0;
}

#gd-carousel{
	height: 100%;
	position: relative;
	z-index: 1;
}

.nav-button{
	width: 30px;
	height: 100%;
	text-align: center;
	line-height: 96px;
	font-size: 22px;
	float: left;
	display: block;
	.t-shadow(0 -1px 0 #fff);
	position: relative;
	z-index: 10;
	overflow: hidden;
	background:url(../images/game-dashboard/blue-chalkboard-blurred.jpg) left top repeat;
	z-index: 100;
}

#nav-left{
	border-right:1px solid @ccc;
}

#nav-right{
	border-left:1px solid @fff;
}

.gd-collection-panel{
	position: relative;
	width: 285px;
	height: 100%;
	float: left;

	border-left:1px solid @ccc;
	border-right:1px solid @fff;

	h3{
		margin-top: 5px;
	}
	.collection-badge{
		float: left;
		display: inline-block;
		width:55px;
		height:70px;
		margin: 0;
		margin:0 15px 0 0;
		background-size: 100% auto;
		img{
			max-width: 100%;
		}
	}
	> div{
		//.animateAll(.25s);
		-webkit-transform:translate(0);
		//-webkit-transform:rotateY(0deg);
		//z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 200%;
		padding:15px 15px;
		.b-shadow(~"inset 0 30px 30px 0 rgba(0, 0, 0, 0.1)");
		background:url(../images/game-dashboard/blue-chalkboard-blurred.jpg) center top repeat;
		&.open-panel,
		&:hover{
			//-webkit-transform:translate(0, -50%);
			//width: 575px;
			.div-hover();
		}
	}
	.gd-number-collected{
		visibility: hidden;
		margin:-2px 0 0 0;
		white-space: nowrap;
		.have-it,
		.have-it-not{
			.symbly(34px);
			line-height: 1;
			margin:0 0 0 -2px;
			color: #7cb830;
		}
		.have-it-not{
			.opacity(50);

		}
	}
	.gd-total-completed{
		position: relative;
		top: -3px;
		font-size: 14px;
		font-weight: bold;
		position: relative;
		text-align: center;
		line-height: 34px;
	}
}
//to show an open panel
.gd-collection-panel + .gd-collection-panel{
	> div{
		//top: auto;
		//bottom: 0;
	}
}

.gd-collection-items{
	margin-top: 70px;
	position: relative;
	clear: left;
	.num-collected{
		width: 20px;
		height: 20px;
		line-height: 20px;
		text-align: center;
		display: block;
		position: absolute;
		top: -6px;
		left: -10px;
		color: #fff;
		.smaller();
		font-weight: bold;
		background:#7cb830;
		.radius(50%);
		.b-shadow(~"inset 0 0 1px rgba(0, 0, 0, 0.3), 0 -1px 0 0 rgba(90, 142, 44, 0.9)");
	}
	.missing{
		img{
			//.opacity(50);
			//-webkit-filter: grayscale(100%);
		}
		.num-collected{
			background: #c0392b;
			.b-shadow(~"inset 0 0 1px rgba(0, 0, 0, 0.3), 0 -1px 0 0 rgba(161, 45, 37, 0.9)");
		}
	}
	.gd-collection-item{
		position: relative;
		display: inline-block;
		float: left;
		margin-right: 25px;
		img{
			max-height: 55px;
			width: auto;
		}
	}
	.gd-collection-item-redeemed{
		margin-top: -15px;
		display: inline-block;
		float: right;
		text-align: center;
		img{
			max-width: 100px;
			height: auto;
			text-align: center;
		}
		.num-collected{
			width: 24px;
			height: 24px;
			line-height: 24px;
			z-index: 9999;
		}
		a{
			font-size: 12px;
			display: block;
			text-align: center;
			text-decoration: underline !important;
		}
		.z-button{
			position: relative;
			top:-60px;
			z-index: 1;
			+ .num-collected{
				float: left;
				position: absolute;
				left: -8px;
				top: -8px;
			}
		}
	}
}

.gd-coin-prize{
	position: absolute;
	z-index: 999999999;
	left: 50px;
	top: 450px;
	display: block;
	width: 128px;
	height: 128px;
	line-height: 85px;
	.t-shadow(~"0 -1px 0 rgba(0, 0, 0, 0.4)");
	margin:0;
	> div{
		position: relative;
	}
}

.gd-the-coin{
	position: absolute;
	top:0;
	left: 0;
	height: 128px;
	width: 128px;
	display: block;
	.symbly(72px);
	cursor: default;
	color: #e2b321;
	background:url(../images/game-dashboard/coin.png) center bottom no-repeat;
}

.gd-smoke {
	position: absolute;
	top:50px;
	left: 0;
	height: 128px;
	width: 128px;
	background-image: url(../images/game-dashboard/smoke_1_40_128_corrected.png);
	display: none;
}