@media screen and (min-width: 1600px) {
	.AppContainer{
		margin:0 auto !important;
	}
	#HeaderLinksView > div {
		margin: 0 !important;
	}
	#app-search {
		margin-left:0 !important;
	}
	#ShortcutsMenu{
		position: relative !important;
		top:-25px !important;
		right:0 !important;
	}
}

/*
min-width: … px Used when the viewport’s width is bigger or equal to width
max-width: … px Used when the viewport’s width is smaller or equal to width
min-device-width: … px  Used when the device’s width is bigger or equal to width
max-device-width: … px  Used when the device’s width is smaller or equal to width
orientation : portrait // orientation: landscape    Target orientation
-webkit-min-device-pixel-ratio : 1.5
	
	http://bennettfeely.com/flexplorer/
*/

.ui-chooser{
	padding: 10px;
	display: block;
	text-align: center;
}

#nav-trigger{
	display:none;
	float: left;
	text-align:left;
	padding:0 10px 0 0;
	margin-right:15px;
	line-height: 38px;
	height:38px;
	font-size: 24px;
	font-weight: normal;
	.symbly(30px);
}

@media all and (max-width: 640px) {
	html, body {
		margin: 0;
		width: 100%;
	}
	body{
		//padding-bottom:160px;
		height: 100%;
		> div{
			height:100%;
		}
	}

	#LoginPageView{
		padding-top:0;
		> div{
			.box-sizing();
			padding:10px;
			display: -ms-flex;
			display: -moz-flex;
			display: -webkit-flex;
			display: flex;
			-ms-flex-direction: column;
			-ms-flex-wrap: wrap;
			-moz-flex-flow: column wrap;
			-webkit-flex-flow: column wrap;
			flex-flow: column wrap;
			-ms-flex-pack: start;
			-moz-justify-content: flex-start;
			-webkit-justify-content: flex-start;
			justify-content: flex-start;
			width:100% !important; 
			height:100% !important; 
			display:block;
		}
		#FooterView{
			-ms-flex: 1 0 auto;
			-moz-flex: 1 0 auto;
			-webkit-flex: 1 0 auto;
			flex: 1 0 auto;
			margin:10px 10px 5px 10px;
		}
		#credit-link{
			margin-left:0;
		}
	}

	#LoginView{
		min-width:0 !important;
		margin:0;
		background-image:none;
		height:auto;
		 -ms-flex: 1 0 auto;
		-moz-flex: 1 0 auto;
		-webkit-flex: 1 0 auto;
		flex: 1 0 auto;
	}
	
	#login-box{
		width:100%;
		height:auto;
		float:none;
		margin:10px 0 0 0;
		top:0;
		left:0;
		.form{
			float:none;
			width:100%;
			form{
				border:none;
				padding:0 10px 10px 10px;
			}
		}
		#LoginLogo{
			float:none;
			width:100%;
			height:80px;
			padding:0;
			background-position:50% 50%;
		}
	}

	#login-form{
		padding:0 20px !important;
	}
	#nav-trigger{
		display:block;
	}
	#corp-logo span{
		display:none;
	}
	#corp-logo img{
		max-width:50px;
		margin-top:10px;
	}
	#HeaderView{
		position:fixed;
		width:100%;
	}
	#HeaderLinksView + div{
		height:0;
	}
	#GlobalSearchAndShortcutsCreateMenuView{
		display:none;
	}
	#FooterView {
		margin:10px 10px 5px 10px;
		padding-bottom: 5px;
	}
	#credit-link{
		margin-left:0;
		span{
			margin-left:65px;
		}
	}

	.view-toolbar{
		display: -ms-flex;
		display: -moz-flex;
		display: -webkit-flex;
		display: flex;
		-ms-flex-direction: row;
		-ms-flex-wrap: wrap;
		-moz-flex-flow: row wrap;
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
		width:100% !important; 
	}

	.view-toolbar .nav,
	.view-toolbar > a {
		float:none;
		-ms-flex: 1 auto;
		-moz-flex: 1 auto;
		-webkit-flex: 1 auto;
		flex: 1 auto;
		
	}
	
	.view-toolbar .parent > a,
	.view-toolbar > a {
		padding:0 5px;
		text-align:center;
	}
	
	.view-toolbar .parent > a{
		width:100%;
	}

	.view-toolbar .parent a:before,
	.view-toolbar > a:before{
		display:none;
	}
	
	.view-toolbar .parent a:after{
		margin-left:5px;
		margin-right:5px;
	}

	.AppContainer{
		min-width:0 !important; /* should be 100% but i need to put box-sizing on top level nodes */
		/*background-image:none;*/
		margin:0 10px;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
	
	.AppContent{
		position:relative;
		top:20px;
		padding-top:30px;
		padding-left:10px;
		padding-right:10px;
		margin-left:0;
		.radius(0 0 5px 5px);
		-webkit-transition: all 0.22s ease-in 0;

		transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
	}
	
	#HomePageView .AppContent {
		padding-right: 10px;
	}
	
	.AppContainer .nav-open{
		transform: translate3d(45px, 0, 0);
		-webkit-transform: translate3d(45px, 0, 0);
		//.b-shadow(-1px 0 15px 0 #ccc);
	}
	
	.AppNavigation{
		width: 45px;
		.unstyle-panel();
		border:none;
		position:fixed;
		padding-top:35px;
	}
	
	#MenuView{
		#gradient > .vertical(#f6f6f6, #f4f4f4);
		border-right:1px solid #eee;
		border-left:1px solid #eee;
		.radius(0 0 0 5px);
		.nav{
			em{
				display:inline-block;
				position:relative;
				top:4px;
				width:25px;
				height:25px;
				line-height:22px;
				vertical-align:top;
				background:#FFF;
				z-index:9999;
				text-align:center;
				margin:0 0 0 9px;
				padding:0 0 0 0;
				font-style:normal;
				.radius(4px);
				.symbly(@recentlyViewedIconSize);
				.t-shadow(~"none !important");
				.box-sizing();
			}
			em:before{
				content: "z";
			}
			em + span{
				text-indent: -9999px !important;
			}
			span{
				width: 33px;
			}
		}
		#search > a > em:before{
			content:  "k";
		}
		#shortcuts > a > em:before{
			content:  "Y";
		}
		#home > a > em:before{
			content:  "A";
		}
		#accounts > a > em:before{
			content:  "P";
		}
		#leads > a > em:before{
			content:  ".";
		}
		#contacts > a > em:before{
			content:  "y";
		}
		#opportunities > a > em:before{
			content:  "9";
		}
		#conversations > a > em:before{
			content:  "b";
		}
		#recently-viewed > a > em:before{
			content:  "{";
		}
    }
	
	#RecentlyViewedView{
		display: none;
		h3, ul{
			//display:none;
		}
		ul{
			max-height:200px;
			overflow:scroll;
		}
	}

	#HomeDashboardView{
		.juiportlet-column{
			width:100%;
			float:none;
		}
		.juiportlet-widget{
			min-width:auto;
			margin-right:10px;
		}
	}

	#credit-link {
		line-height: 17px;
		font-size: 10px;
	}

	.BreadCrumbView + div{
		> div{
			float:none;
			width:100% !important;
		}
	}

	.breadcrumbs{
		padding-bottom:10px;
	}
	
	.BreadCrumbView #StickyListMenu > li > a > span{
		top:2px;
	}

	.details-table{
		margin-right:0;
		.toolbar-mbmenu{
			right:10px;
			.view-toolbar{
				position:relative;
				clear:both;
			}
		}
	}

	.LatestActivtiesForPortletView{
		.toolbar-mbmenu{
			right:10px;
			.view-toolbar{
				position:relative;
				clear:both;
			}
		}
	}

	.juiportlet-widget.OpportunitiesForContactRelatedListView,
	.juiportlet-widget.OpportunitiesForAccountRelatedListView,
	.juiportlet-widget.ContactsForOpportunityRelatedListView,
	.juiportlet-widget.ContactsForAccountRelatedListView{
		h3:before{
			text-indent:0;
			top:5px;
		}
	}

	.juiportlet-widget{
		margin-right:0 !important;
	}

	/*Edit View*/
	#modal-edit-form .panel,
	#edit-form .panel,
	#delete-form .panel {
		float: none;
		width: 100%;
	}

	.right-side-edit-view-panel{
		float:none;
		width:100%;
		position:relative;
		right:0;
		top:0;
		.buffer{
			padding-left:0;
			> div{
				padding:0;
			}
		}
	}

	/*Thread View*/
	#ModelDetailsSummaryView,
	#CommentInlineEditForModelView,
	#CommentsForRelatedModelView{
		width:100%;
		margin-right:0;
		float:none;
		padding:0 10px;
	}
	#ConversationDetailsView{
		.right-side-edit-view-panel{
			display:none;
		}
	}
	.model-details-summary {
		padding-left: 65px;
		padding-top: 10px;
		.gravatar{
			margin-left:-65px;
			max-width:50px;
			max-height:50px;
		}
	}

	#CommentList, .CommentList{
		margin-left:0;
	}
	#CommentInlineEditForModelView{
		padding:0 10px 0 0;
	}

	.toolbar-mbmenu .options-menu{
		> li > a{
			text-indent:-9999px;
			width:auto;
			padding:0;
			&:after{
				content: "n";
				.symbly(24px);
			}
			span{
				display:none;
			}
		}
		ul{
			right:0;
			margin-top:-8px;
		}
	}

	#NoUserEmailConfigurationYetView,
	#NoGlobalEmailConfigurationYetView,
	.ZeroModelsYetView{
		> div{
		   display: -webkit-box;
			display: -moz-box;
			display: box;
			-webkit-box-orient: vertical;
			-moz-box-orient: vertical;
			box-orient: vertical;
			-webkit-box-align: center;
			-moz-box-align: center;
			box-align: center;
		}
		h2{
			font-size:20px;
			line-height:28px;
			padding:0 0 15px 0;
			text-align:center;
		}
		i{
			margin-left:0;
			 text-align:center;
		}
		.large-icon{
			display:none;
		}
		p{
			width:100%;
			font-size:12px;
			line-height:19px;
			margin-left:0;
			margin-top:15px;
			float:none;
		}
		a{
			margin:15px auto;
			padding:0;
		}
	}

    /*dialog*/
	.ui-dialog .ui-dialog-titlebar-close {
		right: 5px;
		top: 5px;
	}

	.ui-dialog{
		width: 98%;
	}
   

   /*closing media query bracket*/ 
}