div img {
  float: none;
}
.builder-element-non-editable h1,
.builder-element-non-editable h2,
.builder-element-non-editable h3,
.builder-element-non-editable h4,
.builder-element-non-editable h5,
.builder-element-non-editable h6,
.builder-element-non-editable p {
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  text-align: inherit;
}
.simple-divider,
.fancy-divider {
  width: 100%;
}
td.wrapper {
  vertical-align: middle;
}
a.newsletter-button {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 1;
  padding: 10px 20px;
}
table.button td,
table.tiny-button td,
table.small-button td,
table.medium-button td,
table.large-button td {
  padding: 0;
  background-color: none;
  border: none;
}
table.tiny-button a {
  padding: 5px 0 4px;
}
table.small-button a {
  padding: 8px 0 7px;
}
table.medium-button a {
  padding: 12px 0 10px;
}
table.large-button a {
  padding: 21px 0 18px;
}
a.Facebook {
  background: #3b5998;
  border-color: #2d4473;
}
a.Facebook:hover {
  background: #2d4473 !important;
}
a.Twitter {
  background: #00acee;
  border-color: #0087bb;
}
a.Twitter:hover {
  background: #0087bb !important;
}
a.Google-plus {
  background-color: #DB4A39;
  border-color: #CC0000;
}
a.Google-plus:hover {
  background: #CC0000 !important;
}
a.Instagram {
  background: #00acee;
  border-color: #0087bb;
}
a.Instagram:hover {
  background: #0087bb !important;
}
body:hover .element-wrapper {
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.3);
}
.element-wrapper {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.element-wrapper:hover > .builder-element-toolbar {
  visibility: visible;
}
.builder-element-toolbar {
  display: block;
  visibility: hidden;
  position: absolute;
  top: 1px;
  right: 1px;
  z-index: 1000;
}
.builder-element-toolbar span {
  width: 24px;
  height: 24px;
  display: inline-block;
  border: 1px solid #ccc;
  text-align: center;
  background: #ffffff;
}
.builder-element-toolbar i {
  color: #9b9b9a;
  font-weight: normal !important;
  font-style: normal !important;
  font-size: 28px;
  font-family: "zurmo_gamification_symbly_rRg";
  vertical-align: middle;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  text-shadow: none !important;
}
.builder-element-non-editable {
  position: relative;
  z-index: 1;
  padding: 10px;
  display: block;
}
table.builder-element-non-editable {
  display: table;
}
td.sortable-elements.ui-sortable {
  padding: 0;
}
td.wrapper {
  vertical-align: middle;
}
.icon-action-move:before {
  content: ")";
}
.icon-action-edit:before {
  content: "n";
}
.icon-action-delete:before {
  content: "_";
}
.ui-sortable-placeholder {
  visibility: visible !important;
  box-shadow: 0 0 5px 0 #282A76 !important;
  min-height: 60px;
}
.hover {
  box-shadow: inset 0 0 0 2px #ccc !important;
}
.editing-element {
  box-shadow: inset 0 0 8px 0 #282A76 !important;
}
.ghost {
  display: block;
}
.ghost span {
  display: block;
  background: rgba(255,255,255,0.5);
  border: 2px dashed #282A76;
  color: #282A76;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  letter-spacing: 1px;
  font-size: 16px;
}
.element-wrapper {
  *zoom: 1;
}
.element-wrapper:before,
.element-wrapper:after {
  content: " ";
  display: table;
}
.element-wrapper:after {
  clear: both;
}
