.themeColor,
.zButton:hover,
.z-button:hover,
h1,
h2,
h3,
h4,
h5,
h6,
a:hover,
#MenuView li.active > a > span > span,
#MenuView a:hover > span > span,
#MenuView li.active > a > span > span,
.xhtml-validation-info,
.performance-info,
table.items tr:hover .pencil,
.ui-dialog .ui-dialog-title,
div.wide.form a,
.ZeroModelsYetView a:hover,
.search-form-tools,
.search-form-tools input[type="submit"]:hover,
#more-search-linkmodal,
#more-search-link,
#select-list-attributes-link,
.double-column .panel a,
.details-table a,
.toolbar-mbmenu .options-menu > li > a:hover,
#inline-edit-form > table td > a,
#inline-edit-form .permissions-box > label,
.LatestActivitiesListView .latest-activity-toolbar label,
.LatestActivitiesView .latest-activity-toolbar label,
.LatestActivitiesListView .filter-portlet-model-bar label,
.LatestActivitiesView .filter-portlet-model-bar label,
.operation-description,
.AppContent.MassEditView .ui-state-highlight p,
#progressBar-links a:hover,
a.remove :hover .icon:after,
.juiportlet-widget-head a.edit :hover .icon:after,
#InstallPageView .AppContainer a:hover,
#InstallPageView #install-form input[type="submit"]:hover,
#ConfigurationPageView table tr:hover,
#ConfigurationPageView table tr:hover .pencil,
.configuration-list li a:hover,
table.configuration-list tr td:last-child a:hover,
#ModulePermissionsEditAndDetailsView table tr:first-child th,
.multiselect-holder input[type="button"]:hover,
.EmailTestingButton:hover,
.panelTitle,
#MyMissionsForPortletView .filter-portlet-model-bar label,
.file-upload-box .ui-icon-plusthick:hover,
.upload-actions .icon-delete,
.ui-datepicker .ui-datepicker-current:hover,
.ui-datepicker .ui-datepicker-close:hover,
.ui-datepicker .calendar-events-1 span,
.ui-datepicker .calendar-events-2 span,
.ui-datepicker .calendar-events-3 span,
.ui-datepicker .calendar-events-4 span,
.ui-datepicker .calendar-events-5 span,
.ui-datepicker .calendar-events-6 span,
.add-custom-field .configure-custom-field-button:hover,
.designer-toolbar input[type="submit"]:hover,
.panelToPlace,
.rowToPlace,
.element-to-place,
.AttributeEditView form div table #customFieldDataData_AddInputButton:hover,
#customFieldDataData_AddInputButton:hover,
.qtip,
.ui-tooltip-default .ui-tooltip-titlebar,
.game-badge .badge-icon,
.badge .badge-icon,
.percentComplete,
.ModalGameNotification a:hover,
#WelcomeView .dashboard-link:hover,
.comment .delete-comment,
.comment .edit-comment,
.comment .delete-comment a,
.comment .edit-comment a,
.unread td,
.unread td a,
a.user-link,
.SocialItemsListView .show-create-comment,
#AllSocialItemsForPortletView .show-create-comment {
  color: #262877;
}
.themeColor2,
#notifications-flyout .single-notification h4,
.view-toolbar-link:hover,
.view-toolbar-link:active,
.view-toolbar > a:hover,
.view-toolbar .parent > a:hover,
.view-toolbar > a:active,
.view-toolbar .parent > a:active,
.portlet-toolbar .icon-delete:before,
.portlet-toolbar .icon-edit:before,
.ZeroModelsYetView a :before,
#NoteInlineEditView form input[type="submit"] :before,
.BreadCrumbView #StickyListMenu > li > a:hover > span,
.addfileinput-button :hover span,
.AttributeEditView .ui-icon-info:after {
  color: #7bb730;
}
.themeBackgroundColor,
.zLink,
.z-link,
#clear-search-link .zLink,
#clear-search-link .z-link,
#clear-search-link,
.LatestActivitiesListView .latest-activity-toolbar label:hover,
.LatestActivitiesView .latest-activity-toolbar label:hover,
.LatestActivitiesListView .filter-portlet-model-bar label:hover,
.LatestActivitiesView .filter-portlet-model-bar label:hover,
.LatestActivitiesListView .latest-activity-toolbar .ui-state-active,
.LatestActivitiesView .latest-activity-toolbar .ui-state-active,
.LatestActivitiesListView .filter-portlet-model-bar .ui-state-active,
.LatestActivitiesView .filter-portlet-model-bar .ui-state-active,
.lead-conversion-actions a .zLink,
.lead-conversion-actions a .z-link,
.lead-conversion-actions a,
#InstallAccessFailurePageView a,
#ErrorPageView a,
#JobsCollectionView a .zLink,
#JobsCollectionView a .z-link,
#JobsCollectionView a,
#ImportWizardMappingView #sample-column-header a,
#clear-search-link #ImportWizardMappingView #sample-column-header a,
.lead-conversion-actions a #ImportWizardMappingView #sample-column-header a,
#JobsCollectionView a #ImportWizardMappingView #sample-column-header a,
.remove-extra-column-link,
#clear-search-link .remove-extra-column-link,
.lead-conversion-actions a .remove-extra-column-link,
#JobsCollectionView a .remove-extra-column-link,
#MyMissionsForPortletView .filter-portlet-model-bar label:hover,
#MyMissionsForPortletView .filter-portlet-model-bar .ui-state-active,
.upload-actions button.start,
.upload-actions button.cancel,
.ui-tooltip-default .ui-tooltip-icon,
.ranking,
.email-matching-actions a .zLink,
.email-matching-actions a .z-link,
.email-matching-actions a #ImportWizardMappingView #sample-column-header a,
.email-matching-actions a .remove-extra-column-link,
.email-matching-actions a {
  background-color: #262877;
}
.themeBackgroundColor2,
.headerDropDown a:hover,
#ShortcutsMenu ul a:hover,
#MenuView li.active > a > span,
#MenuView a:hover > span,
#MenuView li.active > a > span,
#RecentlyViewedView li a span:first-child,
.view-toolbar .parent > ul a:hover,
.edit-row-menu ul a:hover,
#HomeDashboardPortletSelectionView ul span,
li.token-input-selected-token,
.hide-welcome span {
  background-color: #7bb730;
}
.themeColor-important,
#RecentlyViewedView li a:hover em,
.dynamic-search-row .remove-extra-dynamic-search-row-link:hover,
.details-table p a,
#days-meetings-list-view h3 span a,
.LatestActivitiesListView .latest-activity-toolbar #filter-latest-activities-link,
.LatestActivitiesView .latest-activity-toolbar #filter-latest-activities-link,
#AboutView p a,
#AboutView ul a,
.configuration-list li a::before .back-to-app-menu-item span,
.breadcrumbs a,
.sortable-panel,
.cell-element,
.sortable-row-list,
#WelcomeView a {
  color: #262877 !important;
}
.themeColor2-important,
.modal-view-toolbar a:hover,
.form-toolbar a:hover,
.portlet-toolbar .icon-create:hover,
.portlet-toolbar a:hover,
.portlet-toolbar .icon-create:before,
a.simple-select,
#NoteInlineEditView form input[type="submit"]:hover,
.pager li > a:hover,
.LatestActivitiesListView .latest-activity-toolbar #filter-latest-activities-link:hover,
.LatestActivitiesView .latest-activity-toolbar #filter-latest-activities-link:hover,
#currency-collection-form .portlet-toolbar .modal-view-toolbar a:hover,
#currency-collection-form .portlet-toolbar .form-toolbar a:hover,
#currency-collection-form .portlet-toolbar a:hover,
.badge-message h3 {
  color: #7bb730 !important;
}
.themeBackgroundColor-important {
  background-color: #262877 !important;
}
.themeBackgroundColor2-important,
.toolbar-mbmenu .options-menu ul a:hover,
.BreadCrumbView #StickyListMenu ul a:hover,
.ui-autocomplete li a:hover,
.ui-autocomplete li a#ui-active-menuitem,
.ui-autocomplete li a.ui-state-hover {
  background-color: #7bb730 !important;
}
.themeColor-focus,
.form input[type="checkbox"]:focus,
.form input[type="text"]:focus,
.form input[type="password"]:focus,
.form select.multiple:focus,
.form textarea:focus,
.hasDropDown select:focus,
.hasDropDown select:hover,
.hasDropDown:hover select,
ul.token-input-list:focus,
#layout-container .ui-state-active,
#layout-container .ui-widget-content .ui-state-active,
#layout-container .ui-widget-header .ui-state-active {
  -webkit-box-shadow: 0 0 1px 1px #262877;
  -moz-box-shadow: 0 0 1px 1px #262877;
  -o-box-shadow: 0 0 1px 1px #262877;
  -ms-box-shadow: 0 0 1px 1px #262877;
  box-shadow: 0 0 1px 1px #262877;
}
.headerDropDownSpecialHover,
a:hover,
a:hover,
#HeaderLinksView ul ul a:hover {
  background-color: #527a20;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#7bb730), to(#527a20));
  background-image: -moz-linear-gradient(top, #7bb730, #527a20);
  background-image: -ms-linear-gradient(top, #7bb730, #527a20);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7bb730), color-stop(100%, #527a20));
  background-image: -webkit-linear-gradient(top, #7bb730, #527a20);
  background-image: -o-linear-gradient(top, #7bb730, #527a20);
  background-image: linear-gradient(top, #7bb730, #527a20);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7bb730', endColorstr='#527a20', GradientType=0);
}
#HeaderView {
  background-color: #262877;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#202264), to(#262877));
  background-image: -moz-linear-gradient(top, #202264, #262877);
  background-image: -ms-linear-gradient(top, #202264, #262877);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #202264), color-stop(100%, #262877));
  background-image: -webkit-linear-gradient(top, #202264, #262877);
  background-image: -o-linear-gradient(top, #202264, #262877);
  background-image: linear-gradient(top, #202264, #262877);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#202264', endColorstr='#262877', GradientType=0);
}
.green-button,
.attachLoading {
  background-color: #6fa82d;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#97c43d), to(#6fa82d));
  background-image: -moz-linear-gradient(top, #97c43d, #6fa82d);
  background-image: -ms-linear-gradient(top, #97c43d, #6fa82d);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #97c43d), color-stop(100%, #6fa82d));
  background-image: -webkit-linear-gradient(top, #97c43d, #6fa82d);
  background-image: -o-linear-gradient(top, #97c43d, #6fa82d);
  background-image: linear-gradient(top, #97c43d, #6fa82d);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#97c43d', endColorstr='#6fa82d', GradientType=0);
}
.ui-datepicker td.ui-datepicker-today {
  background: #b5b6e7 !important;
}
.LatestActivitiesListView .latest-activity-toolbar > div:first-child,
.LatestActivitiesView .latest-activity-toolbar > div:first-child {
  border-right: 2px solid #262877;
}
/*END COLOR SCHEME/THEME*/