/*shadowless square/flat theme
*{
	box-shadow: none !important;
	border-radius: 0 !important;
}

.AppContent, .AppNavigation, .AppContainer,
#MenuView, #RecentlyViewedView{
	background: none !important;
	border: none !important;
}

#RecentlyViewedView li em{
	background: none;
}

.items{
	background: #fff;
}
*/